configs/isActivatedOneSettings.txt
modules/Console/__pycache__/config.cpython-311.pyc
modules/Console/__pycache__/configLanguage.cpython-311.pyc
modules/Console/__pycache__/SellectLanguage.cpython-311.pyc
modules/Console/__pycache__/sellectLanguage.cpython-311.pyc
__pycache__/configProgramm.cpython-311.pyc
